<style>
    .flash_padding{
        padding: 10px 20px;
    }
    .margin{
        margin: 10px 0px;
    }
</style>


<% if (messages.success) { %>
    <div class="alert-success flash_padding margin">
      <div class="success text-success"><%= messages.success %></div>
    </div>
<% } %>
<% if (messages.error) { %>
    <div class="alert-danger flash_padding margin">
      <div class="error-message text-danger"><%= messages.error %></div>
    </div>
<% } %>